* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: 'Inria Serif', sans-serif;
    background-color: #F9ECEC;
    font-size: 1.2rem;
    line-height: 1.6;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.75rem;
    margin-bottom: .5rem;
    font-weight: 400;
    font-style: normal;
}

/* Mobile specific styles */
@media only screen and (max-width: 767px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .calendar {
        display: none;
    }

    .calendar-mobile {
        display: block;
    }

    .calendar-mobile img {
        width: 30px;
        height: 30px;
    }

    table th,
    table td {
        padding: 10px;
    }
}

/* Main iPhone screen size */
@media only screen and (max-width: 414px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 1.1rem;
    }
}

/* Larger screens */
@media (min-width: 992px) {
    h1,
    h2,
    h3 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    /* Navbar */
    nav {
        background-color: #F0D9DA;
        color: black;
        padding: 1rem;
    }

    nav ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }

    nav li {
        margin: 0 1rem;
    }

    nav div.right {
        margin-left: auto;
        display: flex;
    }

    nav div.right li {
        margin: 0 10px;
    }

    nav a {
        text-decoration: none;
        color: black;
    }

    /* Predictions Section */
    .predictions {
        background-image: url('../img/prediction_bg.png');
        background-size: cover;
        background-position: top center;
    }

    .predictions-container {
        width: 400px;
        height: 400px;
        border-radius: 50%;
        border: 30px solid #C86B85;
        background-color: #F0D9DA;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1rem;
        margin: 3.5rem auto;
    }

    .predictions-container:hover {
        transform: scale(1.1);
    }

    .predictions-container p {
        margin: 1.5rem 0;
        font-size: 18px;
    }

    .predictions-container p:hover {
        text-decoration: underline;
    }

    /* Calendar */
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .calendar-mobile {
        display: none;
    }

    /* calendar styling */
    .calendar {
        display: block;
        background-color: #F9ECEC;
        border-radius: 10px;
        border: 2px solid #F0D9DA;
        width: 60%;
        padding: 10px;
        margin-right: 25px;
        margin-left: 2em;
        overflow-x: auto;
    }

    .calendar h2,
    .calendar h3 {
        text-align: center;
    }

    .next-month {
        color: gray;
    }

    /* Sidebar */
    .sidebar {
        width: 30%;
        flex-direction: column;
        background-color: #F0D9DA;
        padding: 2.5em;
        padding-top: 1em;
        margin-right: 2em;
        border-top: 0px;
    }

    .sidebar header {
        text-align: center;
        margin-bottom: 1em;
    }

    .sidebar p {
        font-size: 1.5rem;
        margin-bottom: 1em;
    }

    .reminder {
        border-bottom: 1px solid #C86B85;
        margin-bottom: 1em;
    }

    input[type="checkbox"] {
        transform: scale(1.5);
        margin-right: 10px;
    }

    button {
        font-size: 1.3rem;
    }

    button i {
        margin-right: 5px;
    }

    /* Mood check */
    .mood_check {
        align-items: flex-start;
    }

    .mood_top,
    .mood_bottom {
        justify-content: flex-start;
    }

    .mood_check img {
        margin-right: 2em;
    }

    .mood_check img:hover {
        transform: scale(1.2);
    }

    /* Logs page */
    .logs_header {
        display: flex;
        margin-top: 6em;
        border-bottom: 1px solid black;
        max-width: 85%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1em;
        align-items: center;
        justify-content: center;
    }

    .logs_header p:first-child {
        margin-right: 60em;
    }

    .log-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }

    .log-grid img:first-child {
        margin-left: 10em;
    }

    /* Log in page */
    .cover {
        display: flex;
    }

    .cover img {
        width: auto;
        height: 100vh;
    }

    .log-in {
        background-color: white;
        margin-left: 3em;
        flex-grow: 1;
        height: 100vh;
    }

    .log-in-form {
        width: 500px;
        height: 500px;
        background-color: #F6F5F5;
        margin: auto;
        margin-top: 8em;
        padding: 20px;
    }

    .log-in-form h3 {
        text-align: left;
        padding: 0;
        margin-left: 1.2em;
    }

    .log-in-form p {
        text-align: left;
        padding: 0;
        margin-left: 1.2em;
        color: #000000;
        font-size: .8em;
    }

    .log-in-form input,
    .log-in-form button {
        display: block;
        width: 100%;
        margin-bottom
