/* Navbar */
nav {
    background-color: #F0D9DA;
    color: black;
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

nav a:hover {
    text-decoration: underline;
}

/* Mood Trackers */
.mood-trackers {
    text-align: center;
    padding: 2rem;
}

.mood-options {
    display: flex;
    justify-content: center;
}

.mood-image {
    width: 100px;
    height: 100px;
    margin: 0 1rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.mood-image:hover {
    transform: scale(1.1);
}

/* Cravings Tracker */
.cravings-tracker {
    text-align: center;
    padding: 2rem;
}

.group-form {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: #C86B85;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #A64E6E;
}
